<template>
  <h1>The Progressive Javascript Framework</h1>
  <hr>
  <p>{{ msg.toUpperCase() }}</p>
  {{ buttonHTML }}
  <span v-html="buttonHTML"></span>
  <p v-bind:style="color">Test</p>
  <a :href="web" target="blank">Google</a>
  {{ num1 }}
  <h2 :style="`color: ${'purple'}`">${{ savings }}</h2>
  <h2 :style="`color: ${price >= 200 ? 'green' : 'red'}`">${{ price }}</h2>
  <h2 v-bind:class="total >= 650 ? 'bottom' : 'background'">${{ total }}</h2>
</template>

<style>
  .bottom{
    color: red;
  }
  .background{
    color: burlywood;
  }
  h1{
    color: blueviolet;
  }
</style>

<script>
const msg = 'Hello'
const buttonHTML = '<button>Click Me</button>'
const color = "color: white;background-color: blueviolet"
const web = "https://www.google.com"
const num1 = 2*5
const savings = 350
const price = 500
const total = 500
export default {
  name: "App",

  data(){
    return {
      msg,
      buttonHTML,
      color,
      web,
      num1,
      savings,
      price,
      total,
    }
  }
}
</script>


